<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Peas</key>
	<dict>
		<key>price</key>
		<real>3.85</real>
	</dict>
	<key>Eggs</key>
	<dict>
		<key>price</key>
		<real>2.5</real>
	</dict>
	<key>Milk</key>
	<dict>
		<key>price</key>
		<real>1.99</real>
	</dict>
	<key>Beans</key>
	<dict>
		<key>price</key>
		<real>0.85</real>
	</dict>
</dict>
</plist>
